with open('requirements.txt', 'w') as f:
    f.write('Flask\n')
    f.write('inference-sdk\n')
    f.write('supervision\n')
    f.write('pandas\n')
    f.write('matplotlib\n')
    f.write('requests\n')
    f.write('Pillow\n')
    f.write('gunicorn\n')
    f.write('numpy\n') # Added numpy as it's used

with open('Procfile', 'w') as f:
    f.write('web: gunicorn app:app\n')
